<%- include('./header.ejs') %>
<section class="cmspage mtb-40" style="margin-top: 130px;">
    <div class="container">
      <h1>About</h1>
        <div class="page-desc"  >
          <p><%= a.description %></p>
         </div>
   
         <div class="img" style="width:225px ;">
           <img src="<%= a.image.url %> " height="223px" />
       </div>

     
    </div>
</section>
<%- include('./footer.ejs') %> 