
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <img src="/images/b4.jpg" width="100%">
                <br><br>
            </div>
            <div class="col-md-7">
                <h2 class="h22"><span style="color: #ffad00;">CONTACT</span> US</h2>
                <p class="p4">This is a bloging website and our team ork for users . Usercan create and save our own information on this website and then aafter read write and update more blogs.h</p>
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="h5"><span style="color: #ffad00;">Address</span></h2>
                        <p class="p5"> Morar, Gwalior, M.P.</p>
                    </div>
                    <div class="col-md-6">
                        <h2 class="h5"><span style="color: #ffad00;">Franchise Enquiry</span></h2>
                        <p>Mobile: <b class="p6"><span style="color: #ffad00;">+91 7089235134</span></b>
                        <p>Email: <b class="p7"><span style="color: #ffad00;">jainjatin748@gmail.com</span></b>
                        </p>
                        </p>
                    </div>i0.v bm'

                    ';lkjnb nm,';/
                    lmn '
                    ';l,kmnb nm'
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="h5"><span style="color: #ffad00;">HR Enquiry</span></h2>
                        <p>Mobile: <b class="p6"><span style="color: #ffad00;">+91 9575220797</span></b>
                        <p>Email: <b class="p7"><span style="color: #ffad00;">nancygupta@gmail.com</span></b></p>
                    </div>
                    <div class="col-md-6">
                        <h2 class="h5"><span style="color: #ffad00;">Other Enquiry</span></h2>
                        <p>Email: <b class="p7"><span style="color: #ffad00;">gpreshwarsharma@gmail.com</span></b>
                        </p>
                    </div>
                </div>
            </div>
        </div><!--row end-->
    </div><!--container-fluid end-->
  </footer>
    
</body>
</html>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>